* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-toolbar {
  --background: #003E83;
}

.title-header {
  color: #FFFFFF;
  font-size: 22px;
  padding-left: 1rem;
}

.icono {
  font-size: 1rem;
  margin-left: 0.7rem;
  color: #F5B224;
}

.icon-header {
  font-size: 1.9rem;
  margin-right: 0.7rem;
  color: #FFFFFF;
}

.title {
  font-weight: 800;
  font-size: 1.25rem;
  color: #003E83;
  text-align: left;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.card {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 22px -7px rgba(0, 0, 0, 0.53);
}

.card-divider {
  display: flex;
}

.card-background {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.card-background-status {
  background-color: #2AD200;
  position: absolute;
  padding-left: .2rem;
  padding-right: .2rem;
  top: 1rem;
  left: 1rem;
  opacity: .9;
  color: #FFFFFF;
}

.card-background-status2 {
  background-color: #939393;
  position: absolute;
  padding-left: .2rem;
  padding-right: .2rem;
  top: 1rem;
  left: 1rem;
  opacity: .9;
  color: #FFFFFF;
}

.card-subtitle {
  color: #F5B224;
  font-size: 0.9375rem;
  padding-left: .5rem;
  padding-bottom: .5rem;
}

.card-title {
  color: #003E83;
  font-size: 1.4rem;
  padding-left: .5rem;
}

.card-content {
  flex: 1;
  color: #003E83;
  font-size: 1rem;
  text-align: justify;
  line-height: 20px;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.card-footer {
  display: flex;
  align-items: stretch;
  height: 2.8125rem;
}

.card-footer-more {
  background-color: #003E83;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-footer-more-title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 0.9375rem;
}

.card-footer-shared {
  background-color: #939393;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-footer-shared2 {
  background-color: #2AD200;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-header {
  display: flex;
  height: 1.3125rem;
}

.card-header-more {
  background-color: #2AD200;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.card-header-more2 {
  background-color: #939393;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.image-responsive {
  max-width: 100%;
  max-height: 100%;
  flex: 1;
}
