<ion-header>
  <ion-toolbar>
    <h1 class="title-header">Mis anuncios</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="title">Ver todos ({{contador}}) </p>

  <ion-grid>
    <ion-row>
      <ion-col size="12">



        <ng-container *ngFor="let item of advertisements">

            <ng-container *ngIf="item.status == 1">
              <ion-card class="card">
                <div class="card-header">
                  <div class="card-header-more">  
                    <ion-icon class="icon-header"  name="ellipsis-horizontal-outline" (click)="menu($event, item.id , 0 )"></ion-icon>
                  </div>
                </div>
                <div class="card-divider">
                  <div class="card-background">
                    <ng-container *ngIf="item.file.includes('mp4')" else newimg>
                      <img src="assets/img/avatar.jpg" class="image-responsive">
                      <span class="card-background-status" >Publicado</span>
                     </ng-container>
                     <ng-template #newimg>
                      <img src="assets/img/{{item.file}}" class="image-responsive">
                      <span class="card-background-status" >Publicado</span>
                     </ng-template >
                  </div>
                  <div class="card-content">
                    <p class="card-subtitle">{{item.title}}</p>
                      {{item.content}}
                  </div>
                </div>
                <div class="card-footer">
                  <div class="card-footer-more">  
                    <span class="card-footer-more-title">Editar</span><ion-icon src="assets/icon/editar.svg" class="icono"></ion-icon>
                  </div>
                  <div class="card-footer-shared">  
                    <span class="card-footer-more-title" (click)="updateAds(item.id , 0)">Anular</span><ion-icon src="assets/icon/anular.svg" class="icono"></ion-icon>
                  </div>
                </div>
              </ion-card> 
            </ng-container>
            <ng-container *ngIf="item.status == 0">
              <ion-card class="card">
                 <div class="card-header">
                   <div class="card-header-more2">  
                     <ion-icon class="icon-header"  name="ellipsis-horizontal-outline" (click)="menu($event , item.id ,0)"></ion-icon>
                   </div>
                 </div>
                 <div class="card-divider">
                   <div class="card-background">
                     <ng-container *ngIf="item.file.includes('mp4')" else newimg>
                      <img src="assets/img/avatar.jpg" class="image-responsive">
                      <span class="card-background-status2" >No Publicado</span>
                     </ng-container>
                     <ng-template #newimg>
                      <img src="assets/img/{{item.file}}" class="image-responsive">
                      <span class="card-background-status2" >No Publicado</span>
                     </ng-template >
                   </div>
                   <div class="card-content">
                     <p class="card-subtitle">{{item.title}}</p>
                      {{item.content}}
                   </div>
                 </div>
                 <div class="card-footer">
                   <div class="card-footer-more">  
                     <span class="card-footer-more-title">Editar</span><ion-icon src="assets/icon/editar.svg" class="icono"></ion-icon>
                   </div>
                   <div class="card-footer-shared2">  
                     <span class="card-footer-more-title" (click)="updateAds(item.id , 1)">Publicar</span><ion-icon src="assets/icon/publicar.svg" class="icono"></ion-icon>
                   </div>
                 </div>
              </ion-card> 
            </ng-container>
            
        </ng-container>
        


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
