<ion-header>
  <ion-toolbar>
    <h1 class="title-header">¿Qué estás ofreciendo?</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="title">Categorias</p>
  <div class="category">
      <div class="category-card">
        <ion-icon  src="assets/icon/tarjeta-azul.svg"></ion-icon>
        <p>Carros - Camionetas - Camiones - Motos y otros</p>
      </div>
      <div class="category-card">
        <ion-icon  src="assets/icon/tarjeta-naranja.svg"></ion-icon>
        <p>Teléfonos - Tablets - Computadoras y otros</p>
      </div>
  </div>


</ion-content>
