* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-image: url(../../../assets/img/Fxfondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.header-logo {
  position: relative;
  width: 142px;
  height: 142px;
}

.logo {
  max-width: 100%;
  border-radius: 50%;
  border: 9px solid #F5B224;
}

.icono {
  margin-left: 2px;
  color: #003E83;
}

.iconobutton {
  margin-right: .5rem;
  background-color: transparent;
  opacity: 1;
  font-size: 1.6rem;
}

.icono-custom {
  position: absolute;
  top: 110px;
  left: 92px;
  font-size: 2.7rem;
  transform: translate(15%, -13%);
  color: #003E83;
}

.form-titulo {
  font-weight: 800;
  font-size: 1.125rem;
  color: #003E83;
  text-align: center;
}

.form-input {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: .2rem;
  border-radius: 14px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  height: 20%;
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-button {
  width: 90%;
  margin: 0 auto;
}

.footer-account {
  text-align: center;
  color: #003E83;
  margin-bottom: 3rem;
}

.footer p {
  margin: 0;
  text-align: center;
  margin-top: .4rem;
  color: #003E83;
}

.btn-custom-4 {
  --color: #003E83;
  --border-color: #F5B224;
  --border-radius: 25px;
}

.btn-custom-3 {
  --color: #FFFFFF;
  --background: #F5B224;
  --border-radius: 25px;
  height: 43px;
  margin-bottom: 1rem;
}

.btn-custom-2 {
  --color: #FFFFFF;
  --background: #F5B224;
}

.btn-custom-1 {
  --color: #FFFFFF;
  --border-color: rgba(245, 178, 36, 0.5);
}

.title-custom {
  float: left;
}

.title-custom-right {
  float: right;
  margin-right: 1rem;
  color: #F5B224;
}

.color {
  color: #F5B224;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}
