<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="color">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-custom">Perfil de usuario</ion-title>
    <ion-title class="title-custom-right">Guardar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container"> 
    <div class="header">
      <div class="header-logo">
        <img src="assets/img/avatar.jpg" alt="logo" class="logo">
        <ion-icon name="add-circle-outline" class="icono-custom"></ion-icon>
      </div>
    </div>


    <div class="form">
      <p class="form-titulo">Información Basica</p>

      <div class="form-input">
        <ion-input placeholder="Nombre de usuario">
          <ion-icon name="person-outline" class="icono"></ion-icon>
        </ion-input>
      </div>

      <div class="form-input">
        <ion-input placeholder="Teléfono">
          <ion-icon name="call-outline" class="icono"></ion-icon>
        </ion-input>
      </div>

      <div class="form-input">
        <ion-input placeholder="Contraseña">
          <ion-icon name="lock-closed-outline" class="icono"></ion-icon>
        </ion-input>
      </div>

      <div class="form-input">
        <ion-input placeholder="Repetir Contraseña">
          <ion-icon name="lock-closed-outline" class="icono"></ion-icon>
        </ion-input>
      </div>

    </div>
    <div class="footer">
      <div class="footer-button">
        <ion-button expand="block"  class="btn-custom-3">Cerrar sesion</ion-button>

        <ion-button expand="block"  fill="outline" class="btn-custom-4" >Darse de baja</ion-button>
      </div>
    </div>
  </div>
</ion-content>
