<ion-header>
  <ion-toolbar color="tertiary" class="ion-text-center">
      <ion-buttons slot="start">
          <ion-button (click)="goTo('/home/ayuda')">
            <ion-icon src="assets/SVG/libro-header.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>PERFIL</ion-title>
    <ion-buttons slot="end">
        <ion-button>
          <ion-icon src="assets/SVG/profile-header.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="menu-header">
            <ion-avatar class="avatar" (click)="captureImage()">
              <img *ngIf="imgSelected" class="img-camera" [src]="imgSelected" onerror="this.src='assets/img/addPhoto.jpg'">
              <img *ngIf="!imgSelected" src="/assets/icon/plus1.png" class="img-default" >
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=" 12">
          <ion-item lines="none">
            <ion-label position="stacked" color="tertiary" class="margin-b-label">Nombre y Apellido<span class="ast">*</span></ion-label>
            <ion-input type="text" formControlName="name" class="btn padding-input"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="stacked" color="tertiary" class="margin-b-label">Dirección <span class="ast">*</span></ion-label>
           <!--  <ion-input type="text" placeholder="" formControlName="direccion" class="btn padding-input" ></ion-input> -->
            <ion-searchbar class="" placeholder="Buscar en Google" formControlName="direccion" (ionInput)="updateSearchResults()" (ionClear)="limpiarDom()"></ion-searchbar>
          </ion-item>
        <ion-item class="padding-0" [hidden]="autocompleteItems.length == 0">
                <ion-list >
                    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item.description)" class="padding-0">
                        {{ item.description }}
                    </ion-item>
                </ion-list>
        </ion-item>
          <p class="sub-text" *ngIf="!form.controls.direccion.value">
            Ingresá la dirección en la cual querés recibir tu tarjeta de membresía y tu obsequio de bienvenida
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="stacked" color="tertiary" class="margin-b-label">Correo Electrónico <span class="ast">*</span></ion-label>
            <ion-input type="email" formControlName="email" class="btn padding-input"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="stacked" color="tertiary" class="margin-b-label">Contraseña <span class="ast">*</span></ion-label>
            <ion-input type="password" formControlName="password" class="btn padding-input"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="stacked" color="tertiary" class="margin-b-label">Repita la contraseña <span class="ast">*</span></ion-label>
            <ion-input type="password" formControlName="password_confirmation" class="btn padding-input"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="stacked" color="tertiary" class="margin-b-label">Teléfono <span class="ast">*</span></ion-label>
            <ion-input type="tel" (keypress)="phoneFormat($event)" formControlName="telefono" class="btn padding-input" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="stacked" color="tertiary" class="margin-b-label">Fecha de Nacimiento <span class="ast">*</span></ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" doneText="OK" cancelText="Cancelar" placeholder="Seleccionar.." formControlName="fecha_nac" class="btn">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-col size="6">
          <ion-button class="fs-16" color="tertiary" expand="full" type="button" shape="round" (click)="goTo('/tab/estado-de-tu-pago')">
           ESTADO DEL PAGO <img src="" alt="">
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="fs-16" color="tertiary" expand="full" type="button" shape="round" (click)="goTo('/tab/misLibros')" >
            MIS PUBLICACIONES
          </ion-button>
        </ion-col>
        <ion-col size="6" style="margin: 0 auto;" (click)="presentModal()">
          <ion-button class="fs-16" color="tertiary" expand="full" type="button" shape="round" >
           CAMBIO DE CONTRASEÑA
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button class="fs-16" color="primary" expand="full" type="button" shape="round" (click)="delete()">
            ELIMINAR CUENTA
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button class="fs-16" style="--background: #69ebeb;"  expand="full" type="button" shape="round" (click)="logout()">
            CERRAR SESIÓN
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar color="tertiary" class="ion-text-center">
    <ion-button fill="clear" (click)="editar()" class="boton-registro" expand="block" [disabled]='checkForm()'>
      <!-- <ion-icon slot="start" name="ios-checkmark-circle-outline"></ion-icon> -->
      ACTUALIZAR
    </ion-button>
  </ion-toolbar>
</ion-footer>