<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="color">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-custom">profil de l'utilisateur</ion-title>
    <ion-title class="title-custom-right">sauvegarder</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container"> 
    <div class="header">
      <div class="header-logo" (click)="changeImage()">
        <img [src]="errorControl.photoUrl.value" onerror="this.src='./assets/img/addPhoto.jpg'" alt="logo" class="logo">
        <ion-icon name="add-circle" class="icono-custom"></ion-icon>
      </div>
    </div>
    <p class="form-titulo">information de base</p>
    <form class="form" [formGroup]="form">
      
      <div class="form-input">
        <ion-label position="stacked" class="form-input-title">nom de l'utilisateur * </ion-label>
        <ion-input formControlName="name"   readonly>
          <!-- <ion-icon name="person-outline" class="icono"></ion-icon> -->
        </ion-input>
      </div>


      <div class="form-input" [ngClass]="{'errorInput': errorControl.password.errors?.minlength}">
        <ion-input class="form-input-icon" formControlName="password" placeholder="mot de passe *">
          <ion-icon name="eye" class="icono"></ion-icon>
          <!-- <ion-icon name="lock-closed-outline" class="icono"></ion-icon>
          <ion-icon name="person-outline" class="icono edit"></ion-icon> -->
        </ion-input>
      </div>

      <div class="form-input" [ngClass]="{'errorInput': errorControl.new_password.errors?.minlength}">
        <ion-input class="form-input-icon" formControlName="new_password" placeholder="nouveau mot de passe *">
          <ion-icon name="eye" class="icono"></ion-icon>
          <!-- <ion-icon name="lock-closed-outline" class="icono"></ion-icon>
          <ion-icon name="person-outline" class="icono edit"></ion-icon> -->
        </ion-input>
      </div>

      <div class="form-input" [ngClass]="{'errorInput': errorControl.confirm_password.value != errorControl.new_password.value && !errorControl.confirm_password.pristine}">
        <ion-input class="form-input-icon" formControlName="confirm_password" placeholder="Répéter mot de passe *" >
          <ion-icon name="eye" class="icono"></ion-icon>
          <!-- <ion-icon name="lock-closed-outline" class="icono"></ion-icon>
          <ion-icon name="person-outline" class="icono edit"></ion-icon> -->
        </ion-input>
      </div>

    </form>
    <div class="footer">
      <div class="footer-button">
        <ng-container *ngIf="errorControl.phone.pristine && errorControl.password.pristine">
          <ion-button expand="block"  class="btn-custom-3" (click)="signOut()">
            <ion-icon name="log-in-outline" class="iconobutton"></ion-icon>
            se déconnecter
          </ion-button>
  
          <ion-button expand="block"  fill="outline" class="btn-custom-4" (click)="delete()">
            supprimer le profil
          </ion-button>
        </ng-container>
      </div>
        
    </div>
  </div>
</ion-content>
