.ast {
    color: #ff148a;
  }
  
  .img-header {
    text-align: center;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
  }
  .border-bottom {
    border-bottom: solid 2px #7044ff;
    margin: 0 1rem;
    ion-button{
      font-size: .9rem;
    }
  }
  ion-datetime{
    padding-left: 14px;
  }
  
  .sub-text {
    color: #ff148a;
    font-size: smaller;
    text-align: justify;
    margin: 10px 15px;
  }
  
  .boton-registro {
    --background: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --color: #fff;
    --color-activated: #fff;
    --color-focused: #fff;
    max-width: 200px;
    margin: auto;
  }
  
  
  .menu-header{
    padding-top: 5px; 
  }
  
  .avatar {
    margin: auto;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    background: #7044ff;
    border-radius: 10px;
  }
  
  ion-grid{
    background: #f7f6fb;
  }
  .img-default{
    width: 25px;
      height: 25px;
      text-align: right;
      position: relative;
      left: 70px;
      top: 70px;
  }
  ion-label{
    font-size: 20px!important;
  }
  ion-searchbar{
    padding-left: 0px;
    padding-right: 0px;
  }
  ion-searchbar .searchbar-input.sc-ion-searchbar-md{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-radius: 20px !important;
    text-align: center;
  }
  ion-avatar .img-camera{
    --border-radius: 10px;
  }
ion-button.fs-16{
    font-size: 16px;
}  