<ion-header>
  <ion-toolbar>
    <ion-icon name="close-outline" class="icono" slot="start"></ion-icon>
    <ion-icon name="share-social-outline" class="icono2" slot="end" (click)="share()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <div class="container">
      <div class="container-header">
        <div class="header">
          <img [src]="'http://valdusoft.com/ad/' + data.file" onerror="this.src='./assets/img/addPhoto.jpg'" alt="">
        </div>
        <div class="header-title">
          <p class="header-title-item">{{data.title}}</p>
          <div class="header-subtitle">
            <span  style="color: #fff; text-transform: uppercase;"> <ion-icon  src="assets/icon/ubicacion.svg"></ion-icon> {{data.origin_city}}  </span>
            <span  style="color: #F5B224;"> <ion-icon  src="assets/icon/calendario.svg"></ion-icon> {{data.updated_at |  date:'mediumDate' }}  </span>
          </div>
        </div>
        <div class="header-footer">
          <p class="header-footer-title">Descripción</p>
          <p class="header-footer-description">{{data.content}}</p>
        </div>
      </div>
    
      <div class="footer">
        <div class="footer-button">
          <ion-button expand="block" class="btn-custom-3">Contacter</ion-button>
        </div>
      </div> 
    </div>


</ion-content>
