* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.errorInput {
  border-bottom: solid 1px #f34242 !important;
}

ion-button {
  margin: 0 auto;
  display: flex;
}

.container {
  height: 100%;
}

.header {
  background-image: url(../../../assets/img/fondo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
}

.header-subtitle {
  color: white;
  opacity: .7;
}

.header-logo {
  width: 80%;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

.header .button {
  width: 90%;
  height: 36px;
}

.logo {
  max-width: 100%;
}

.icono {
  color: #003E83;
  font-size: 22px;
}

.form {
  height: 30%;
}

.form-input {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: .2rem;
  border-bottom: 1px solid #003E83;
}

.form-input-icon {
  display: flex;
  flex-direction: row-reverse;
}

.form p {
  margin: 0;
  text-align: right;
  margin-top: .4rem;
  margin-right: 1.4rem;
  color: #003E83;
}

.footer-button {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}

.footer-account {
  text-align: center;
  color: #003E83;
  margin-bottom: 3rem;
}

.footer p {
  margin: 0;
  text-align: center;
  margin-top: .4rem;
  color: #003E83;
}

.btn-custom-3 {
  --color: #FFFFFF;
  --background: #F5B224;
  --border-radius: 25px;
  height: 43px;
}

.btn-custom-2 {
  --color: #FFFFFF;
  --background: #F5B224;
}

.btn-custom-1 {
  --color: #FFFFFF;
  --border-color: rgba(245, 178, 36, 0.5);
}

ion-input {
  --color: #003E83;
  --padding-bottom: 2px;
}

ion-grid {
  min-height: 100%;
}
