<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="color">
      <ion-back-button defaultHref="/offer"></ion-back-button>
    </ion-buttons>
    <h1 class="title-header">Sube tus fotos</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="header">
      <img src="assets/img/sube-fotos@2x.png" alt="">
      <div class="category">
        <div class="category-card">
          <ion-icon  src="assets/icon/foto.svg"></ion-icon>
          <p>Tomar una foto</p>
        </div>
        <div class="category-card">
          <ion-icon  src="assets/icon/carpeta.svg"></ion-icon>
          <p>Examinar</p>
        </div>
      </div>
    </div>
  
    <div class="footer">
      <div class="footer-button">
        <ion-button expand="block" class="btn-custom-3">Siguiente</ion-button>
      </div>
    </div>
  </div>


</ion-content>
