<ion-content >

  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <div class="container"> 
          <div class="header">
            <div class="header-subtitle">
              Bienvenido (a)
            </div>
            <div class="header-logo">
              <img src="assets/img/logo.png" alt="logo" class="logo">
            </div>
            <div class="header-subtitle">
              Publie tes publicités de maniere gratuit
            </div>
            <div class="header-buttons">
              <div class="button">
                <ion-button expand="round" class="btn-custom-2" (click)="goTo('/login')">se connecter</ion-button>
              </div>
              <div class="button">
                <ion-button expand="round"  fill="outline" class="btn-custom-1" >s'inscrire</ion-button>
              </div>
            </div>
          </div>
          <form class="form" [formGroup]="formGroup" >
            <div class="form-input" [ngClass]="{'errorInput': errorControl.name.errors?.required && !errorControl.name.pristine}">
              <ion-input formControlName="name" placeholder="nom d'utilisateur *" inputmode="text" type="text">
              </ion-input>
            </div>
      
            <div class="form-input" [ngClass]="{'errorInput': errorControl.email.errors?.pattern}">
              <ion-input  formControlName="email" placeholder="adresse email *" inputmode="email" type="email">
              </ion-input>
            </div>
      
            <div class="form-input" [ngClass]="{'errorInput': errorControl.password.errors?.minlength}">
              <ion-input class="form-input-icon" formControlName="password" placeholder="mot de passe *" inputmode="password" type={{type}}>
                 <ion-icon name="eye" class="icono" *ngIf="type == 'password'" (click)="type = 'text'"></ion-icon>
                 <ion-icon name="eye-off" class="icono" *ngIf="type == 'text'" (click)="type = 'password'"></ion-icon>
              </ion-input>
            </div>
      
            <div class="form-input" [ngClass]="{'errorInput': errorControl.confirm_password.value != errorControl.password.value && !errorControl.confirm_password.pristine}">
              <ion-input class="form-input-icon" formControlName="confirm_password" placeholder="répéter le mot de passe *" inputmode="password" type={{type}}>
                <ion-icon name="eye" class="icono" *ngIf="type == 'password'" (click)="type = 'text'"></ion-icon>          
                <ion-icon name="eye-off" class="icono" *ngIf="type == 'text'" (click)="type = 'password'"></ion-icon>
              </ion-input>
            </div>
      
          </form>
          <div class="footer">
            <div class="footer-button">
              <ion-button expand="block"  class="btn-custom-3" (click)="signUp()" [disabled]="formGroup.status == 'INVALID'">Connexion</ion-button>
            </div>
            <div class="footer-account">
              Vous avez déjà un compte ? <b (click)="goTo('/login')">entrez</b>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
