
<ion-content>
  <div class="container">
    <div class="header">
      <img src="assets/img/felicitaciones@2x.png" alt="">
      <div class="message">
        <div class="message-title">
          <p>tu as créé ton annonce!</p>
        </div>
        <div class="message-subtitle">
          <p>tu desires la publier maintenant ou plus tard ?</p>
        </div>
      </div>
    </div>
  
    <div class="footer">
      <div class="footer-button">
        <ion-button expand="block" class="btn-custom-3" (click)="publicar()">publier maintenant</ion-button>
      </div>
      <div class="footer-button">
        <ion-button expand="block" fill="outline" class="btn-custom-1" (click)="mantener()">publier plus tard </ion-button>
      </div>
    </div>
  </div>


</ion-content>
